h1 {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 40px;
    left:40px;
}

body {
    p-adding: 10px;
    
}

.hero1{
    filter: blur(7px);
    border-radius: 0px;
    width: 110%;
    p-osition: absolute;
    margin: -10px;
}

.hero-container {
    p-osition: relative;
}