---
---
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title> Was es in Berlin im Regen zu tun gibt. </title>
		<meta name="description" content=" Meine Tipps für euch was man in Berlin alles im Regen machen kann!">

		
	</head>
	
 <style>





 </style>

     <body>
        
     <h1 style="color:rgb(4, 16, 77);text-shadow: 2px 2px 4px rgba(200, 0, 0, 1);
">
        
    
        Berlin im Regen
    
    </h1>   
       

<div>In Berlin regnet es manchmal. Dann tragen die Menschen bunte Regenschirme und Gummistiefel. Kinder springen fröhlich in die Pfützen.

Die Busse und Bahnen fahren trotzdem. In den Museen ist es trocken und spannend. Enten schwimmen im Tiergarten durch den Regen.

Auch wenn der Himmel grau ist, bleibt Berlin schön. Danach schmeckt eine heiße Schokolade besonders gut.

</div>

    <a href="../../">zurück</a>
    </body>	 
    
    

 </html>